.group-title{
  margin-bottom: 10px;
}
.datatable-body-row{
  cursor: pointer !important;
}

.category {
  width: calc(35% - 15px);
  float: left;
  margin-left: 15px;
}

.group-images{

  img{
    width:80px;
    height:80px;
    border-radius: 10px;
  }

}